# Example configuration file
# Actually name it `.env` for it to work

# Everything past the 3rd slash is a path to the DB.
# Follow this post for advice with Windows machines: https://stackoverflow.com/questions/56416437/confusion-about-uri-path-to-configure-sqlite-database
# For linux, to store it at `/home/user/dbsGoHere/mySQLiteDB.db` the URI would be: `sqlite:////home/user/dbsGoHere/mySQLiteDB.db`
DATABASE_URI="sqlite:///myDBFile.db"
