<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Creddie Form</title>
</head>
<body>
    <p1>Form Dude</p1>

    <legend>Transaction Form</legend>
    <form method="POST" action="javascript:;" onsubmit="submitTransaction()">
        <div>
            <label for="amountId">Amount</label>
            <input type="text" name="amount" id="amountId" pattern="^\d*(\.\d{0,2})?$" required>
        </div>
        <div>
            <label for="currencyId">Currency</label>
            <input type="text" name="currency" id="currencyId" pattern="^([a-zA-Z]{1,4})$" required>
        </div>
        <div> <!-- CREATE CHECKBOX -->
            <label for="iscreditId">Is Credit?</label>
            <input type="checkbox" name="iscredit" id="iscreditId" checked>
        </div>
        <div>
            <label for="txndateId">Transaction Date</label>
            <input type="datetime-local" name="txndate" id="txndateId" required>
        </div>
        <div>
            <label for="tzId">Timezone</label>
            <input type="text" name="tz" id="tzId" required>
        </div>
        <div>
            <label for="otherpartyId">Other Party</label>
            <input type="text" name="otherparty" id="otherpartyId" required>
        </div>
        <div>
            <label for="txndescId">Description</label>
            <input type="text" name="txndesc" id="txndescId" required>
        </div>
        <div> <!-- CATEGORIES SHOULD BE SELECTION FROM NAMES -->
            <label for="categoryId">Category </label>
            <select name="category" id="categoryId" required>
                <option value="" label="Select Category" disabled selected></option>
            </select>

        </div>

        <!-- Optional Below -->
        <div>
            <label for="isgiftId">Is Gift</label>
            <input type="checkbox" name="isgift" id="isgiftId">
        </div>
        <div>
            <label for="giftpartyId">Gift Party</label>
            <input type="text" name="giftparty" id="giftpartyId">
        </div>

        <div>
            <label for="ismarketId">Is Marketplace</label>
            <input type="checkbox" name="ismarket" id="ismarketId">
        </div>
        <div>
            <label for="marketpartyId">Marketplace Party</label>
            <input type="text" name="marketparty" id="marketpartyId">
        </div>

        <button type="submit">Submit</button>
    </form>

    <script>
        function submitTransaction() {
            //var formData = JSON.stringify($("#myForm").serializeArray());
            // Manual json_builder
            const obj = {
                "amount": document.getElementById("amountId").value,
                "currency": String(document.getElementById("currencyId").value).toUpperCase(),
                "is_credit": document.getElementById("iscreditId").checked,
                "transaction_date": document.getElementById("txndateId").value,
                "transaction_tz": document.getElementById("tzId").value,
                "other_party": document.getElementById("otherpartyId").value,
                "transaction_description": document.getElementById("txndescId").value,
                "category_id": document.getElementById("categoryId").value,
                "is_gift": document.getElementById("isgiftId").checked,
                "gift_party": document.getElementById("giftpartyId").value,
                "is_marketplace": document.getElementById("ismarketId").checked,
                "marketplace_party": document.getElementById("marketpartyId").value,
            }
            console.log(JSON.stringify(obj))

            // Send to Transaction ID
            const url = new URL("/v1/category/",window.location.origin);
            fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "accept": "application/json",
                },
                body: JSON.stringify(obj)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            })
        }

        async function SetDefaultItems() {
            // Get current date and time
            var now = new Date();
            var month = (now.getMonth()+1);
            if (month < 10) { month = "0" + month; }
            var day = now.getDate();
            if (day < 10) { day = "0" + day; }
            var time = ('0'+now.getHours()).substr(-2) + ":" + ('0'+now.getMinutes()).substr(-2);

            var datetime = now.getFullYear() +"-" + month + "-" + day + "T" + time;

            // Insert datetime and timezone into HTML
            document.getElementById("txndateId").value = datetime;
            document.getElementById("tzId").value = Intl.DateTimeFormat().resolvedOptions().timeZone;

            // Input 
            try {
                const response = await fetch("/v1/category/all");
                if (!response.ok) {
                    throw new Error(`Response Status: ${response.status}`)
                }
                const json = await response.json();

                var cat_elem = document.getElementById("categoryId");
                for (item of json) {
                    var cat_node = document.createElement("option");
                    cat_node.setAttribute("value", item.id);
                    cat_node.setAttribute("label", item.name);
                    cat_elem.appendChild(cat_node);
                }
            } catch (error) {
                console.error(error.message);
            }
            
        }
        window.onload = SetDefaultItems;
        
    </script>

</body>
</html>